@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  background-color: #f7f7f7;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.content {
  flex: 0 1 400px;
  margin: 5px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}
