.balance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.balance h1 {
  margin-top: 5px;
}

.income-expense {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  margin-top: 20px;
}

.income h1 {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expense h1 {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}
